asgiref==3.2.10
boto==2.49.0
cx-Oracle==8.0.1
dj-database-url==0.5.0
Django==3.1
django-heroku==0.3.1
django-herokuapp==0.9.20
django-require==1.0.11
django-require-s3==1.0.0
django-storages==1.10.1
gunicorn==20.0.4
psycopg2==2.8.6
pycodestyle==2.6.0
pytz==2020.1
sh==1.14.1
sqlparse==0.3.1
toml==0.10.1
waitress==1.4.4
whitenoise==5.2.0
